

<header class="header-user-dropdown">

	<div class="header-limiter">
  <div class="header-left-blocks">
    <img  ng-src="images/ghmc.gif" alt="GHMC" />
  </div>
  <div class="header-left-blocks" style="border-color: white;padding-left: 5px">
    <span style="line-height:60px;font-size: 24px ">Smart Citizen</span>
  </div>
	<!-- <img  ng-src="images/ghmc.gif" alt="GHMC" /> -->

		<!--<nav>
			<a href="#">Overview</a>
			<a href="#">Surveys</a>
			<a href="#">Reports</a>
			<a href="#">Roles <span class="header-new-feature">new</span></a>
		</nav>-->


		<div class="header-user-menu">
		<h3>Admin</h3>
			<img  ng-src="images/ghmc.gif" alt="GHMC" />

			<ul>
				<li><a href="#">Settings</a></li>
				
				<li><a href="#" class="highlight">Logout</a></li>
			</ul>
		</div>

	</div>

</header>
<div class="container-fluid">
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="event.name" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="members">Members Required:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="event.extras.members_required" placeholder="Enter number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="date">Date:</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" ng-model="event.start"  placeholder="Enter Date">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label col-sm-2" for="status">Change Status:</label>
                        <div class="col-sm-10">
                        <select class="form-control" id="status" ng-model="event.status">
                            <option value="Approved">Approved</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-click="updateEvent(event)" class="btn btn-submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- end Modal -->
<div class="row">
  <div class="col-md-8">
  
   <div class="row">
   <div class="col-md-12" >
   <div class="dashboard-block">
   <div class="row">
   <div class="col-md-12" >
    <h4><b>Events Summary</b></h4>
    </div>
   </div>
  
  <div class="row">

         <div class="col-md-2 col-md-offset-1">
         
          <!-- <div class="info-box linkStyle" ng-click="getEventFilter('Submitted')"  ng-class="{eventFilter : 'Submitted' === selectedFilterStatus}"> -->
          <!-- <div class="info-box"> -->
          
            <!-- <span class="info-box-icon bg-red"></span> -->

            <div class="info-box bg-orange" ng-click="getEventFilter('Submitted')"  ng-class="{eventFilter : 'Submitted' === selectedFilterStatus}"><center>
                <span class="info-box-text">Completed</span>
                <span class="info-box-number">{{Submitted}}</span>    
            </center>
            </div>
            <!-- /.info-box-content -->
          <!-- </div> -->
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-2">
          <!-- <div class="info-box linkStyle" ng-click="getEventFilter('Upcoming')"  ng-class="{eventFilter : 'upcoming' === selectedFilterStatus}"> -->
          <div class="info-box bg-green" ng-click="getEventFilter('Approved')"  ng-class="{eventFilter : 'Approved' === selectedFilterStatus}">
            <!-- <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span> -->

            <!-- <div class="info-box-content"> -->
            <center>
              <span class="info-box-text">Approved</span>
              <span class="info-box-number">{{Approved}}</span>
              </center>
            <!-- </div> -->
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-2">
          <!-- <div class="info-box linkStyle" ng-click="getEventFilter('Approved')"  ng-class="{eventFilter : 'Approved' === selectedFilterStatus}"> -->
          <div class="info-box bg-blue" ng-click="getEventFilter('Created')"  ng-class="{eventFilter : 'Created' === selectedFilterStatus}">
            <!-- <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span> -->

            <!-- <div class="info-box-content"> -->
            <center>
              <span class="info-box-text">Pending</span>
              <span class="info-box-number">{{Pending}}</span>
              </center>
            <!-- </div> -->
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-2">
          <!-- <div class="info-box linkStyle" ng-click="getEventFilter('Rejected')"  ng-class="{eventFilter : 'Rejected' === selectedFilterStatus}"> -->
          <div class="info-box bg-red" ng-click="getEventFilter('Rejected')"  ng-class="{eventFilter : 'Rejected' === selectedFilterStatus}">
            <!-- <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span> -->
            <center>
            <!-- <div class="info-box-content"> -->
              <span class="info-box-text">Rejected</span>
              <span class="info-box-number">{{Rejected}}</span>
              </center>
            <!-- </div> -->
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-2">
          <!-- <div class="info-box linkStyle" ng-click="getEventFilter('Rejected')"  ng-class="{eventFilter : 'Rejected' === selectedFilterStatus}"> -->
          <div class="info-box bg-black" ng-click="getEventFilter('Closed')"  ng-class="{eventFilter : 'Closed' === selectedFilterStatus}">
            <!-- <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span> -->
            <center>
            <!-- <div class="info-box-content"> -->
              <span class="info-box-text">Closed</span>
              <span class="info-box-number">{{Closed}}</span>
              </center>
            <!-- </div> -->
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        
      </div>
      <br>
       <!--  <div class="box-blocks" id="map">
      	<b>Map View Here</b>
    </div> -->
    </div>
   </div>
 
  
   <div class="col-md-12">
   <div class="dashboard-block" style="height:606px">

     <hc-chart style="width:63%;border-radius: 2px;height:75%" options="chartOptions">Placeholder for generic chart</hc-chart>
   </div>
   </div>
    
  
 
  	
  </div>
</div>
  <div class="col-md-4">
  	
    <div class="row">
     <div class="col-md-12 dashboard-block" >
     <!-- <ul><li ng-repeat="e in pieData">{{e}}</li></ul> -->
     <!-- <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->
      <!-- <button ng-click="update()">click to update chart</button> -->
     
     <highchart style= "width: 30%" id="chart1" config="chartConfig" class="span10"></highchart>
     
    </div>
  </div>
     <div class="row">
     <div class="col-md-12 box-blocks" id="map">
    </div>
  </div>
 
</div>
 
  <div class="col-md-12">
  <div class="row" style="padding-left: 15px">
    
    <div class="col-md-12 dashboard-block">
   <form class="form-inline" style="line-height: 50px;">
    <span style="font-size: 20px;"><b>{{EventText}}</b></span>
     <div class="form-group" style="position: absolute;right: 20px;top: 10px">
            
                        <select class="form-control col-sm-2" ng-model="searchFish" ng-options="filterevent.extras.grievance_location for filterevent in filteredEvents | unique:'extras.grievance_location'">
                        <option value="" selected>Location</option>
                          
                        </select>
                        </div>
                        <div class="form-group" style="position: absolute;right: 150px;top: 10px">
                         <select class="form-control col-sm-2" ng-model="selectedItem" ng-change="getEventFilter(selectedItem)">
                        <option value="" selected>Status</option>
                        <option value="Upcoming" >Upcoming</option>
                         <option value="Created" >Pending</option>
                         <option value="Approved" >Approved</option>
                         <option value="Rejected" >Rejected</option>
                         <option value="Submitted" >Completed</option>
                         <option value="Closed" >Closed</option> 
                        </select>
                        </div>
       </form>                 
  
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <td>
          <a href="" ng-click="sortType = 'created'; sortReverse = !sortReverse">
            NAME
            <span ng-show="sortType == 'created' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'created' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
         <td>
          <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
          DATE/TIME 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
          ISSUE DESCRIPTION 
            <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
           LOCATION 
            <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
          STATUS 
            <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="setSelected(event.id)" class="linkStyle" ng-class="{selected : event.id === selectedValue}" ng-repeat="event in filteredEvents | orderBy:sortType:sortReverse | filter:searchFish">
        <td>{{ event.name }}</td>
        <td>{{event.created | date:'yyyy-MM-dd'}} </td>
        <td>{{ event.extras.grievance_description }}</td>
        <td>{{ event.extras.grievance_location }}</td>
        <td>{{ event.status }}</td>
       <td> <button data-toggle="modal" data-target="#myModal" ng-click="selectedEvent(event)" class="btn mini blue-stripe">Edit</button></td>
      </tr>
    </tbody>
    
  </table>
 </div>
  
 </div>
  </div>
  
</div>