body{
	
	margin:0px;
	background-color: #edeff0;

}

.linkStyle{
	cursor: pointer;
}

.info-box {
    display: block;
    /*min-height: 90px;*/
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    border: 2px solid #a1a1a1;
    padding: 5px 10px;
    border-radius: 8px;
    /*margin-left: 90px;*/
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 56px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}



.bg-red {
    background-color: #c60000 !important;
    color: #fff !important;
}
.bg-blue {
    background-color: #1f5dea !important;
    color: #fff !important;
}

.bg-green {
    background-color: #43cb83 !important;
    color: #fff !important;
}
.bg-orange {
    background-color: #ff9000 !important;
    color: #fff !important;
}
.bg-black {
    background-color: #333333 !important;
    color: #fff !important;
}

.info-box-text {
    text-transform: uppercase;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
     width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;

}

.blue{

	color: #1f5dea;

}
.green{

color: #43cb83;
}


.red {
    color: #c60000; 
}

.orange{
	color: #ff9000;

}
.black{

color: #333333;

}


.selected{
	background: #deeade;
	outline: -webkit-focus-ring-color auto 5px;
}
.selected:hover{
	background: green;
}
.container-fluid
{
	padding-top: 10px;
}

.form-horizontal .control-label1{
	margin-bottom: 0;
	padding-top: ($padding-base-vertical + 1);
}

.box-blocks{
	    min-height: 350px;

    /* width: 450px; */
    border: 1px solid #c1c1c1;
    margin-bottom: 10px;
    border-radius:5px;
   
}
.dashboard-block{
    border: 1px solid #ccc;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
}
.dashboard-block h4{
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.header-user-dropdown {
	background-color:white;
	box-shadow:0 1px 1px #ccc;
	/*padding: 10px 10px;*/
	height: 60px;
	color: black;
	box-sizing: border-box;
}

.header-user-dropdown .header-limiter {
	
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-user-dropdown .header-limiter img{
	float: left;
	
	max-width: 95px;
	margin:5px;
}

.header-user-dropdown .header-limiter h1 span {
	color: #bc40df;
}

/* The header links */

.header-user-dropdown .header-limiter a {
	color: black;
	text-decoration: none;
}

.header-user-dropdown .header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 25px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-user-dropdown .header-limiter nav a{
	font-size: 14px;
	display: inline-block;
	padding: 0 12px;
	opacity: 0.9;
	position: relative;
	text-decoration:none;
	line-height: 1;
}

.header-user-dropdown .header-limiter nav a:hover {
	opacity: 1;
}

/* The "new" badge */

.header-user-dropdown .header-limiter nav a span {
	position: absolute;
	top: -12px;
	border-radius: 2px;
	background-color: #2A6A92;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	height: 13px;
	font-size: 11px;
	right: -15px;
	padding: 1px 4px 0;
}

/* The user menu */

.header-user-dropdown .header-limiter .header-user-menu{
	position: relative;
	float:right;
	background-color:white;
	width:145px;
	height:55px;
	border-radius:2px;
	margin: 5px;
	padding-top: 5px;
	border-left: 1px solid #ccc;
}

.header-user-dropdown .header-limiter .header-user-menu h3{
   line-height:0px;
	
}


.header-user-dropdown .header-limiter .header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 25px;
	left: 20px;
	position:absolute;
	border:5px solid white;
	border-top-color:black;
}

.header-user-dropdown .header-limiter .header-user-menu ul{
	display: none;
	font:bold 15px Arial, Helvetica, sans-serif;
	background-color: white;
	list-style: none;
	z-index: 1;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 56px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(105, 45, 45, 0.74);
	box-sizing: border-box;
}

.header-user-dropdown .header-user-menu:active ul,
.header-user-dropdown .header-user-menu:hover ul,
.header-user-dropdown .header-user-menu.show ul{
	display:block;
}

.header-user-dropdown .header-user-menu ul li{
	padding:5px;
}

.header-user-dropdown .header-user-menu ul li a:hover{
	opacity:0.6;
}

.header-user-dropdown .header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-dropdown .header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:2px;
	max-width: 35px;
	left:105px;
	
}

.info-box:hover{
	opacity: 0.4;
	cursor: pointer;
	cursor: hand;
}
.eventFilter{
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}
.header-left-blocks{
	float: left;
    height: 60px;
    border-right: 1px solid #ccc;
}


@media all and (max-width: 800px) {

	.header-user-dropdown .header-limiter h1 {
		font-size: 24px;
	}

	.header-user-dropdown .header-limiter nav a {
		padding: 0 5px;
	}

	.header-user-dropdown .header-limiter nav {
		margin-left: 20px;
	}

}

@media all and (max-width: 600px) {

	.header-user-dropdown .header-limiter nav {
		display: none;
	}

}